<!-- Navbar -->
<header th:fragment="frag-entete">
	<h1 id="nav-title">
		<a href="/">Enchères</a>
	</h1>
	<nav>
		<ul>
			<li><a href="/login">S'inscrire</a></li>
			<li><a href="/login">Se connecter</a></li>
			<li><a href="/logout">Se deconnecter</a></li>
			<li><a th:href="@{/monProfil}">Mon Profil</a></li>
			<li><a href="/newSell">Nouvelle vente</a></li>
			<li><a href="/remporterVente">Vente remporter</a></li>
			<li><a href="/detailsVente">Detaille vente</a></li>
		</ul>
	</nav>
	<h1 style="text-align: center;">Liste des enchères</h1>
</header>