<!-- Navbar -->
<header th:fragment="frag-entete">
	<h1 id="nav-title">
		<a href="/">Enchères</a>
	</h1>
	<nav>
		<ul>
			<div sec:authorize="!isAuthenticated()">
				<li><a href="/login">S'inscrire</a></li>
				<li><a href="/login">Se connecter</a></li>
			</div>
			<div sec:authorize="isAuthenticated()">
				<li>
					<form th:action="@{/logout}" method="post" name="logoutForm">
						<input type="submit" href="/logout" value="Se deconnecter"></input>
					</form>
				</li>

				<li><a href="/monProfil">Mon profil</a></li>
				<li><a href="/newSell">Nouvelle vente</a></li>
				<li><a href="/remporterVente">Vente remporter</a></li>
				<li><a href="/detailsVente">Détails ventes</a></li>
			</div>
		</ul>
	</nav>
</header>