body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.column {
    float: left;
    width: 50%;
    box-sizing: border-box; /* pour inclure le padding et la bordure dans la largeur */
    padding: 10px; /* espace intérieur */
}

.column.left-column {
    float: left;
}

.column.right-column {
    float: right;
}

.input-group input {
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 20px); /* largeur - 2 * padding */
    box-sizing: border-box; /* pour inclure le padding et la bordure dans la largeur */
}

.buttons {
    clear: both; /* pour forcer le container à s'adapter à la hauteur des colonnes */
    padding-top: 10px; /* espacement entre les colonnes et les boutons */
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.create-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.modify-button {
    background-color: #f44336;
    color: white;
    border: none;
}