<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Details vente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" data-th-href="@{/css/entete.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ade1732ef0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>
	<div class="container-fluid">
		<h1 style="text-align: center;">Detail vente</h1>
		<main class="center-main">
			<ul class="flex-outer">
				<li><span th:text="${a.nomArticle}"></span>
				</li>
				<li><textarea id="idSynopsis" cols="60" rows="3" th:text="${a.description}"></textarea></li>
				<li><span id="categorie" type="text" th:text="${a.libelleCategorie}"></span></li>
				<li><label for="prixVente">Prix actuel : </label><span id="prixVente" type="text" th:text="${a.prixVente}"></span></li>
				<li><label for="miseAPrix">Mise à prix : </label><span id="miseAPrix" type="text" th:text="${a.miseAPrix}"></span></li>
				<li th:if="${a.finEncheres != null}">
					<span id="finEncheres" type="text" th:text="${a.finEncheres}"></span>
				</li>
				<li th:if="${a.retrait != null}">
					<span id="retrait" type="text" th:text="${a.retrait}"></span>
				</li>
				<li><a th:href="@{/listeUtilisateurs/detail(noUtilisateur=${a.idUtilisateur})}"><span class="row" type="text"  th:text="${a.pseudoUtilisateur}"></span></a></li>
			
			
			
			<!--  FORMULAIRE "MA PROPOSITION" -->
			<form action="/maProposition" method="post" th:object="${a}">
				<input type="hidden" name="noArticle" th:value="${a.noArticle}"/>
				<li><label for="prixVente">Ma proposition</label><input name="prixVente" type="number" step="10" th:field="${a.prixVente}"/></li> 
				<li><button type="submit">Enchérir</button>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				</li>
			</form>
			</ul>
		</main>
	</div>
</body>

</html>