<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Details vente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" data-th-href="@{/css/entete.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ade1732ef0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>
	<div class="container-fluid">
		<h1 style="text-align: center;">Detail vente</h1>
		<main class="center-main">
			<ul class="flex-outer">
				<li><label for="nomArticle">nom</label><input id="nomArticle" type="text" th:value="${a.nomArticle}" />
				</li>
				<li><label for="description">Description</label>
					<textarea id="idSynopsis" cols="60" rows="3" th:text="${a.description}"></textarea>
				</li>
				<li><label for="categorie">Categorie</label><input id="categorie" type="text"
						th:value="${a.libelleCategorie}" /></li>
				<li><label for="prixVente">prixVente</label><input id="prixVente" type="text"
						th:value="${a.prixVente}" /></li>
				<li><label for="miseAPrix">miseAPrix</label><input id="miseAPrix" type="text"
						th:value="${a.miseAPrix}" /></li>
				<li th:if="${a.finEncheres != null}">
					<label for="finEncheres">finEncheres</label>
					<input id="finEncheres" type="text" th:value="${a.finEncheres}" />
				</li>
				<li th:if="${a.retrait != null}">
					<label for="retrait">Retrait</label>
					<input id="retrait" type="text" th:value="${a.retrait}" />
				</li>
				<!--  MANQUE REDIRECTION VERS LISTE UTILISATEUR DETAIL ///// ET FORMULAIRE "MA PROPOSITION" -->
				<li><label for="vendeur">Vendeur</label><p class="row" id="vendeur" type="text"  th:text="${a.pseudoUtilisateur}"></p></li>
			</ul>
		</main>

	</div>
</body>

</html>