<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Details vente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" data-th-href="@{/css/entete.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<link rel="stylesheet" data-th-href="@{/css/detailsVente.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ade1732ef0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="row" th:replace="~{fragment/fragment-entete :: frag-entete}"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="cadre mx-auto">
				<h1 style="text-align: center;">Detail vente</h1>
				<div class="row align-items-center">
					<div class="col-md-6" th:text="${a.nomArticle}"></div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-6">Description :</div>
					<div class="col-md-6"><span th:text="${a.description}"></span></div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-6">Catégorie :</div>
					<div class="col-md-6"><span th:text="${a.libelleCategorie}"></span></div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-6">Prix actuel :</div>
					<div class="col-md-6"><span th:text="${a.prixVente}"></span></div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-6">Mise à prix :</div>
					<div class="col-md-6"><span th:text="${a.miseAPrix}"></span></div>
				</div>
				<div class="row align-items-center" th:if="${a.finEncheres != null}">
					<div class="col-md-6">Date de fin :</div>
					<div class="col-md-6"><span th:text="${a.finEncheres}"></span></div>
				</div>
				<div class="row align-items-center" th:if="${a.retrait != null}">
					<div class="col-md-6">Retrait :</div>
					<div class="col-md-6"><span th:text="${a.retrait}"></span></div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-6">vendeur :</div>
					<div class="col-md-6">
						<a th:href="@{/listeUtilisateurs/detail(noUtilisateur=${a.idUtilisateur})}">
							<div type="text" th:text="${a.pseudoUtilisateur}"></div>
						</a>
					</div>
				</div>

				<!--  FORMULAIRE "MA PROPOSITION" -->
				<form action="/maProposition" method="post" th:object="${a}">
					<input type="hidden" name="noArticle" th:value="${a.noArticle}" />
					<div class="row  align-items-center">
						<div class="col-md-6">Ma proposition :</div>
						<div class="col-md-6">
							<input name="prixVente" type="number" step="10" th:field="${a.prixVente}" />
						</div>
					</div>
					<div class="row  align-items-center">
						<div class="col-md-6"></div>
						<div class="col-md-6">
						<button type="submit">Enchérir</button>
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>