<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Accueil</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" data-th-href="@{/css/entete.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ade1732ef0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="row" th:replace="~{fragment/fragment-entete :: frag-entete}"></div>
	<div th:if="${param.logout}"> Vous êtes déconnecté. </div>
	<div class="container-fluid">
		<h1 style="text-align: center;">Liste des enchères</h1>
		<form action="/search" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<label for="search">Recherche d'une enchère :</label><input name="search" type="text"
				placeholder="search" />
			<select class="form-select form-select-lg mb-3" aria-label="Large select example">
				<option selected>Catégories</option>
				<option value="1">Informatique</option>
				<option value="2">Ameublement</option>
				<option value="3">Vêtement</option>
				<option value="3">Sport</option>
				<option value="3">Loisir</option>
			</select>
			<button type="submit" name="btn">Rechercher</button>
		</form>
		<div class="container-fluid text-center">
			<div class="row">
				<div th:each="a : ${articles}" class="col">
					<div class="card">
							<div class="card-body d-flex flex-column">
								<a th:href="@{/detailsVente(idArt=${a.noArticle})}">
									<h5 class="card-title" th:text="${a.nomArticle}"></h5>
								</a>
								<p class="card-text" th:text="'prix : ' + ${a.miseAPrix}"></p>
								<p class="card-text" th:text="'date : ' + ${a.finEncheres}"></p>
								<div class="row card-text">
									Vendeur :
									<p class="card-text">
										<a th:href="@{/listeUtilisateurs/detail(noUtilisateur=${a.idUtilisateur})}">
											<span th:text="${a.pseudoUtilisateur}"></span>
										</a>
									</p>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
</body>

</html>