<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mon profil</title>
<link rel="stylesheet" type="text/css" href="/CSS/monProfil.css">
</head>
<body>
	<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>
    <div class="container">
        <div class="column">
			
            <input type="text" th:value="${user.pseudo}" />
            <input type="text" th:value="${user.nom}" />
            <input type="text" th:value="${user.prenom}" />
            <input type="text" th:value="${user.email}" />
            <button class="create-button">Créer</button>
        </div>
        <div class="column">
            <!-- Vous pouvez laisser ces champs vides pour les données que vous ne voulez pas afficher -->
            <input type="text" th:value="${user.telephone}" />
            <input type="text" th:value="${user.rue}" />
            <input type="text" th:value="${user.codePostal}" />
            <input type="text" th:value="${user.ville}" />
            <button class="modify-button">Modifier</button>
        </div>
    </div>
</body>
</html>