<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Mon profil</title>
	<link rel="stylesheet" type="text/css" href="/CSS/monProfil.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" data-th-href="@{/css/entete.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ade1732ef0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid">
		<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>

		<form action="/modifyProfil" method="post" th:object="${utilisateur}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<div class="column left-column">
				
				<label for="noUtilisateur"></label>
				<input name="noUtilisateur" type="hidden" th:value="${noUtilisateur}" />
				
				<div>
					<label for="nom">Pseudo</label>
					<input name="pseudo" type="text" th:value="${pseudo}" />
					<input name="pseudo" type="hidden" th:field="${pseudo}" />
				</div>
				<div>
					<label for="prenom">Prénom</label>
					<input name="prenom" type="hidden" th:field="${prenom}" />
					<input name="prenom" type="text" th:value="${prenom}" />
				</div>
				<div>
					<label for="telephone">Téléphone</label>
					<input name="telephone" type="hidden" th:field="${telephone}" />
					<input name="telephone" type="text" th:value="${telephone}" />
				</div>
				<div>
					<label for="codePostal">Code Postal</label>
					<input name="codePostal" type="hidden" th:field="${codePostal}" />
					<input name="codePostal" type="text" th:value="${codePostal}" />
				</div>
				<div>
					<label for="motDePasse">Mot de passe</label>
					<input name="motDePasse" type="hidden" th:field="${motDePasse}" />
					<input name="motDePasse" type="password" th:value="${motDePasse}" />
				</div>
			</div>
			<div class="column right-column">
				<div>
					<label for="nom">Nom</label>
					<input name="nom" type="text" id="nom" th:value="${nom}" />
					<input name="nom" type="hidden" th:field="${nom}" />
				</div>
				<div>
					<label for="email">Email</label>
					<input name="email" type="text" th:value="${email}" />
					<input name="email" type="hidden" th:field="${email}" />
				</div>
				<div>
					<label for="rue">Rue</label>
					<input  name="rue" type="text" th:value="${rue}" />
					<input name="rue" type="hidden" th:field="${rue}" />
				</div>
				<div>
					<label for="ville">Ville</label>
					<input  name="ville"  type="text"th:value="${ville}" />
					<input name="ville" type="hidden" th:field="${ville}" />
				</div>
				<div>
					<label for="confirmation">Confirmation du mot de passe</label>
					<input name="confirmation" type="password" placeholder="Confirmez votre mot de passe" />
				</div>

				<button class="modify-button" type="submit">Modifier</button>
			</div>
		</form>
		<form id="deleteForm" action="/monProfil" method="post">
			<input type="hidden" name="noUtilisateur" th:value="${noUtilisateur}" />
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<form th:action="@{/logout}" method="post" name="logoutForm">
				<input type="submit" href="/logout" value="Se deconnecter"></input>
				<button type="submit">Supprimer</button>
			</form>
	</div>
</body>

</html>