<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Nouvelle vente</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" data-th-href="@{/css/entete.css}">
	<link rel="stylesheet" data-th-href="@{/css/general.css}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/ade1732ef0.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid">
		<div th:replace="~{fragment/fragment-entete :: frag-entete}"></div>
		<form action="">
			<label for="">Article: <input type="text" /></label>
			<label for="">Description: <input type="text" /></label>
			<label for="">Catégorie: <input type="text" /></label>
			<label for="">Photo de l'article<input type="text" /></label>
			<label for="quantity">Quantité: </label>
			<input type="number" id="quantity" name="quantity" value="1" min="0" max="100000" step="1">
			<label for="">Début de l'enchère: <input type="text" /></label>
			<label for="">Fin de l'enchère: <input type="text" /></label>
			<div>
				<label for="">Retrait:</label>
				<label for="">Rue:<input type="text" /></label>
				<label for="">Code Postale:<input type="text" /></label>
				<label for="">Ville:<input type="text" /></label>
			</div>
			<button type="submit">Enregistrer</button>
			<button type="button">Annuler</button>
			<button type="button">Annuler la vente</button>
		</form>
	</div>
</body>

</html>